/****************************/
/*     TYCHO'S PORTFOLIO    */
/****************************/

/*/............/*/
/*/ - Colors - /*/
/*/............/*/
:root {
    --text-color: white;
    --text-color-dark: #2B2118;
    --landing-page-background: #41B3A3;
    --about-me-background: #C38D9E;
    --portfolio-background: #E8A87C;
    --skills-background-color: #E27D60;
    --contact-background-color: #85CDCA;
    --white: #fdf5e6;
}

/*/............/*/
/*/ - Styles - /*/
/*/............/*/

/* Base */
/* * {
    border: 1px solid black;
} */

body {
    margin: 0;
    font-family: 'Inconsolata', monospace;
    color: var(--white);
    box-sizing: border-box;
    background-image: url(../images/backgroundpaterns/cork-wallet.png);
  }

  h3 {
      margin: 13px 3px 3px 3px;
      color: var(--text-color-dark);
  }

  hr {
      max-width: 40%;
      margin: 10px auto;
  }

  li {
      color: black;
  }

  ul {
      text-align: center;
      list-style: none;
      margin: 4%;
  }

  p {
      margin: 0;
  }

  input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
  }

  textarea {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
  }

  input[type=submit] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
  }

  /* All-Round */

.full-height {
    min-height: 100vh;
}

.mid-height{
    max-height: 90vh;
}

.small-height {
    max-height: 85vh;
}

.flex {
    display: flex;
}

.text-centered{
    text-align: center;
}

.text-right {
    text-align: right;
}

.shadow {
    text-shadow: -2px 0 var(--text-color-dark), 0 2px var(--text-color-dark), 2px 0 var(--text-color-dark), 0 -2px var(--text-color-dark);
}

.section-title{
    letter-spacing: 11px;
    font-size: 14vh;
}

.photo {
    display: block;
    max-width: 200px;
    border-radius: 100px;
    border: 1px solid var(--text-color-dark);
    margin: 20px auto;
}

.section-content {
    min-height: 100vh;
    margin: auto;
}

.section-content-skills{
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    margin: auto;
}

.row {
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.hidden {
    display: none;
}

.active {
    color: var(--landing-page-background) !important;
}

/* Navigation */
.navigation {
 display: flex;
 flex-direction: column;
 justify-content: space-evenly;
 background-color: var(--white);
}

.navigation > a {
    text-decoration: none;
    font-size: 1.3em;
    color: black;
    margin: 5px;
}

/* Landing Page */

.landing-page {
    background-color: var(--landing-page-background);
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* About Me */

.about-me-title {
    flex-direction: column;
    background-color: var(--about-me-background);
    justify-content: space-between;
}

.about-me-content {
    flex-direction: column;
}

.about-me-background {
    width: 100%;
    height: 100%;
    background-image: url(../images/1.svg);
    background-repeat: no-repeat;
    background-size: 100%;
}

.section-container {
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 70vh;
}

/* Portfolio */

.portfolio{
    flex-direction: column;
    background-color: var(--portfolio-background);
    justify-content: space-between;
}

.portfolio-background {
    width: 100%;
    height: 100%;
    background-image: url(../images/2.svg);
    background-repeat: no-repeat;
    background-size: 100%;
}

.portfolio-gallery {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.portfolio-image {
    max-width: 90%;
    margin-top: 10px;
    /* margin: 4px; */
    /* border: 7px solid var(--white); */
    box-shadow: 10px 10px 5px grey;
    background-color: var(--white);
    color: var(--text-color-dark);
}

.portfolio-image  img {
    width: 100%;
}

.portfolio-image p {
    padding: 2px;
}

.portfolio-image:hover {
    filter: brightness(110%);
    transform: scale(1.1);
}

/* Skills */
.skills {
    flex-direction: column;
    background-color: var(--skills-background-color);
    justify-content: space-between;
}

.skills-content {
    font-size: 1.1rem;
    max-width: 900px; 
    color: black; 
    margin: auto; 
}

.skills-background {
    width: 100%;
    height: 100%;
    background-image: url(../images/3.svg);
    background-repeat: no-repeat;
    background-size: 100%;
}

.skills-mobile {
    display: initial;
}

.skills-desktop {
    display: none;
}

/* Contact */

.social {
    max-width: 130px;
    padding: 20px;
    margin: auto;
}

.social:hover {
    transform: scale(1.1);
}

.contact-content {
    padding: 40px;
    flex-direction: column;
    align-items: center;
}

.contact {
    flex-direction: column;
    background-color: var(--contact-background-color);
    justify-content: space-between;
}

.contact-background {
    width: 100%;
    height: 100%;
    background-image: url(../images/4.svg);
    background-repeat: no-repeat;
    background-size: 100%;
}

.form-container > form {
    padding: 30px;
    margin: auto;
}

.form-container input,
.form-container textarea {
    margin: 15px;
    width: 100%;
}

/*.........../*/
/*/ - Id's - /*/
/*/........../*/

#profile-name{
    font-family: 'Shadows Into Light', cursive;
    font-size: 3em;
}

#about-me-paragraph {
    font-size: 1.1rem;
    color: var(--text-color-dark);
    vertical-align: middle;
    padding-top: 30px;
    max-width: 800px;
    margin: 4%;
}

#bobbie{
    max-width: 150px;
    max-height: 150px;
    border: 1.5px solid var(--text-color-dark);
    border-radius: 50%;
    animation: float 3s ease-in-out infinite;
}

#profile-title{
    margin: 70px;
}

#portfolio-paragraph {
    color: var(--text-color-dark);
    margin-top: 0;
    padding-top: 60px;
}


#contact-paragraph {
    color: var(--text-color-dark);
    margin-top: 40px;
    padding-top: 60px;
}

/*/.................../*/
/*/ - Media Queries - /*/
/*/.................../*/

@media only screen and (min-width: 972px) {

    .navigation {
        display: block;
        margin: 10px;
        position: fixed;
        background-color: var(--white);
        border-radius: 7px;
        border: 1px solid var(--text-color-dark);
        padding: 4px;
    }
    
    .navigation > a {
        font-size: 1.1em;
        text-decoration: none;
        text-shadow: none;
        margin: 10px;
        color: var(--text-color-dark);
    }

    ul {
        margin: auto;
    }

    .about-me-title {
        flex-direction: row;
    }

    .about-me-content {
        flex-direction: row;
    }

    #about-me-paragraph {
        font-size: 1.8rem;
        margin: auto;
    }

    .portfolio {
        flex-direction: row;
    }

    .portfolio-gallery {
        flex-direction: row;
    }

    .portfolio-image {
        max-width: 30%;
    }

    .skills {
        flex-direction: row;
    }

    .contact {
        flex-direction: row;
    }

    .section-title{
        max-width: 33%;
    }
    .section-container {
        height: 100vh;
    }

    .skills-mobile {
        display: none;
    }

    .skills-desktop {
        display: initial;
    }

    .contact-content {
        flex-direction: row;
        justify-content: center;
    }
  }

/*/................/*/
/*/ - Animations - /*/
/*/................/*/
@keyframes float {
    0% {
        box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
        transform: translatey(0px);
    }
    50% {
        box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2);
        transform: translatey(-12px);
    }
    100% {
        box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
        transform: translatey(0px);
    }
}